@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* body {
    background-color: #1B262C;
} */

main.main {
    display: flex;
}

main.main.dark {
    background-color: #1B262C;
    color: #fff;
}

main.main.light {
    background-color: #F5F7F8;
    color: #000
}

section.home {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 51px);
    overflow-x: auto;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
}

section.home p, section.home button {
    font-size: 24px;
    text-align: center;
}

section.home button {
    background-color: #0acce1;
    padding: 8px 32px;
    border: none;
    outline: none;
    color: #fff;
}